<h1 mat-dialog-title>Nueva Cuenta Depósito</h1>

<form mat-dialog-content [formGroup]="newAccountForm" (ngSubmit)="submit()">

  <section>
    <mat-label color="primary">Tipo de cuenta</mat-label>

    <mat-chip-listbox aria-label="Fish selection"
    matInput
    controlName="Type"
    formControlName="Type">

      <mat-chip-option
        *ngFor="let tipo of $tiposCuenta | async"
        [value]="tipo">
          <mat-icon matChipAvatar>{{tipo.iconString}}</mat-icon>
        {{tipo.name}}
      </mat-chip-option>

    </mat-chip-listbox>

  </section>

  <mat-form-field>
    <mat-label>Nombre de Cuenta</mat-label>
    <input
      matInput
      controlName="name"
      type="text"
      title="Account Name"
      placeholder="New Account Name"
      formControlName="AccountAlias"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Descripción</mat-label>
    <input
      matInput
      controlName="name"
      type="text"
      title="Account Description"
      placeholder="Description"
      formControlName="Description"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>País</mat-label>
    <input
      title="a"
      type="text"
      matInput
      formControlName="Country"
      [matAutocomplete]="countryAutoComplete"
    />
    <mat-autocomplete
      name="Country"
      #countryAutoComplete="matAutocomplete"
      [displayWith]="getCountryValue"
    >
      <cdk-virtual-scroll-viewport
        appendOnly
        itemSize="24"
        [style.height.px]="countriesLength * 48"
      >
        <mat-option
          *cdkVirtualFor="let country of $countries | async"
          [value]="country"
        >
          <span class="fi fi-{{ country.alpha2 | lowercase }}"></span>
          {{ country.name }}
        </mat-option>
      </cdk-virtual-scroll-viewport>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Moneda</mat-label>
    <input
      title="New Account Currency"
      type="text"
      matInput
      formControlName="Currency"
      [matAutocomplete]="currenciesAutoComplete"
    />
    <mat-autocomplete
      name="Currency"
      #currenciesAutoComplete="matAutocomplete"
      [displayWith]="getCurrencyDisplay"
    >
      <cdk-virtual-scroll-viewport
        appendOnly
        itemSize="24"
        [style.height.px]="currenciesLength * 48"
      >
        <mat-option
          *cdkVirtualFor="let currency of $currencies | async"
          [value]="currency"
        >
          {{ currency.name }} ( {{ getCurrency(currency.code) }} )
        </mat-option>
      </cdk-virtual-scroll-viewport>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <span matPrefix>
      {{ getCurrency(newAccountForm.controls["Currency"].value?.code ?? "$") }}
    </span>
    <mat-label>Fondos Iniciales</mat-label>
    <input
      matInput
      controlName="name"
      type="number"
      title="Account Initial Funds"
      placeholder="0.00"
      formControlName="InitialFunds"
    />
  </mat-form-field>

  <div align="end" id="new-account-form-actions" class="button-group">
    <button type="reset" title="Reset New Account Data" mat-button>
      Reiniciar
    </button>
    <button
      type="submit"
      color="primary"
      title="Create New Account"
      mat-raised-button
    >
      Crear
    </button>
  </div>
</form>
