<div align="center">
  <h1 class="mat-display-1">Cuenta sin verificar</h1>
  <mat-icon style="font-size: 12em; width: unset; height: unset; display: unset;" color="primary"
    >mark_email_read</mat-icon
  >
  <p class="mat-subheading-2">
    Verificá tu casilla de correo para verificar tu cuenta. Si no encontrás el
    link no olvides revisar tu casilla de SPAM o Correo no deseado
  </p>

  <button
    mat-flat-button
    color="accent"
    type="button"
    title="Reenviar Correo de Verificación"
  >
    REENVIAR VERIFICACIÓN
  </button>
</div>
