:host {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 1em;
}

.app-content-container {
  display: grid;
  width: 100vw;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100vw;
}
