<form [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-card>
    <mat-card-title>Iniciar Sesión</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-form-field appearance="outline">
      <mat-label>Usuario:</mat-label>
      <input
        required
        matInput
        type="text"
        formControlName="userName"
        autocomplete="username"
      />
    </mat-form-field>
    <p></p>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña:</mat-label>
      <input
        required
        matInput
        type="password"
        autocomplete="current-password"
        formControlName="password"
      />
    </mat-form-field>

    <mat-card-actions align="end">
      <a
        mat-button
        color="default"
        title="Registrar nuevo usuario"
        type="button"
        href="/signup"
      >
        REGISTRARSE
    </a>

      <button
        mat-raised-button
        color="accent"
        title="Iniciar Sesión"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        INICIAR SESIÓN
      </button>
    </mat-card-actions>
  </mat-card>
</form>
