<mat-toolbar color="accent">

  <ul class="footer-actions-list">
    <li>
      <button mat-icon-button title="Cuentas"><mat-icon>account_balance</mat-icon></button>
    </li>
    <li>
      <button mat-icon-button title="Tarjetas"><mat-icon>credit_card</mat-icon></button>
    </li>
    <li>
      <button mat-fab color="primary" class="main-action-button"><mat-icon>add</mat-icon></button>
    </li>
      <li>
        <button mat-icon-button title="Inversiones"><mat-icon>savings</mat-icon></button>
      </li>
      <li>
        <button mat-icon-button title="Informes"><mat-icon>auto_graph</mat-icon></button>
      </li>
  </ul>

</mat-toolbar>
