/* You can add global styles to this file, and also import other style files */
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.spacer {
  flex: 1 1 auto;
}

button {
  // padding:0.5em
}

.rotating-object:focus,
.rotating-object:checked,
.rotating-object:active,
.rotating-object:future {
  transform: rotate(360deg);
  transition: transform 450ms ease-in-out;
}

p mat-form-field {
  width: 100%;
}

.mat-typography,
.mat-display-1 {
  margin-bottom: 0px!important;
}

.mat-card-top-right-menu {
  position: absolute!important;
  top: 16px;
  right: 16px;
}

.mat-menu-item .mat-icon,
.mat-button .mat-button-wrapper .mat-icon
{
  height: unset;
  width: unset;
}


.mat-mdc-floating-label,
.mat-mdc-form-field-icon-prefix{
  padding-left: 3ch!important;
}

.mat-button-toggle-label-content {
  .mat-icon{
  height: 48px!important;
}}
