.main-action-button{
  margin: 0.5em;
  position: relative;
  bottom: 28px;
  width: 64px;
  height: 64px;

  *, .mat-icon{
    font-size: 32px;
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
}

.footer-actions-list{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-block: 0;
  padding-inline: 0;

  li{
    margin: 0 0.5em;
  }
}
