<!-- <form [formGroup]="signupForm" (ngSubmit)="signup()">
  <mat-card>
    <mat-card-title>Registrarse</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>

    <p>
    <mat-form-field appearance="outline">
      <mat-label>Usuario:</mat-label>
      <input
        required
        matInput
        type="text"
        formControlName="userName"
        autocomplete="username"
      />
    </mat-form-field>
    </p>

    <p>
    <mat-form-field appearance="outline">
      <mat-label>Usuario:</mat-label>
      <input
        required
        matInput
        type="text"
        formControlName="userName"
        autocomplete="username"
      />
    </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña:</mat-label>
        <input
        required
        matInput
        type="password"
        autocomplete="current-password"
        formControlName="password"
        />
    </mat-form-field>
  </p>

    <mat-card-actions align="end">
      <button
        mat-button
        color="default"
        title="Registrar nuevo usuario"
        type="button"
      >
        REGISTRARSE
      </button>

      <button
        mat-raised-button
        color="accent"
        title="Iniciar Sesión"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        INICIAR SESIÓN
      </button>
    </mat-card-actions>
  </mat-card>
</form> -->
