<form [formGroup]="signupForm" (ngSubmit)="signup()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registrarse</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Usuario:</mat-label>
          <input
            required
            matInput
            type="text"
            Title="Username"
            formControlName="userName"
            autocomplete="username"
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Correo:</mat-label>
          <input
            required
            matInput
            title="Email"
            type="email"
            formControlName="email"
            autocomplete="email"
          />
        </mat-form-field>
      </p>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña:</mat-label>
        <input
          required
          matInput
          title="Password"
          type="password"
          autocomplete="new-password"
          formControlName="password"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Repetir Contraseña:</mat-label>
        <input
          required
          matInput
          title="Repeat password"
          type="password"
          autocomplete="new-password"
          formControlName="passwordrepeat"
        />
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">

      <button
        mat-raised-button
        color="accent"
        title="Registrarse"
        type="submit"
        [disabled]="signupForm.invalid"
      >
      REGISTRARSE
      </button>
    </mat-card-actions>
  </mat-card>
</form>
